<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="Vinny's Blog">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Droid+Sans+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
    {{ if not .Site.IsServer }}
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
            ga('create', 'UA-70095095-1', 'auto');
            ga('send', 'pageview');
        </script>
    {{ end }}
    <script>
        let menuOpen = false;
        function handleToggleMenu(e) {
            menuOpen = !menuOpen;
            const newDisplay = menuOpen ? 'block' : 'none';
            document.getElementById("menu").style['display'] = newDisplay;
        }

        window.addEventListener('load', () => {
            document.getElementById("extra-menu").addEventListener('click', handleToggleMenu);
        });
    </script>
</head>
<body>
    <div id="header">
        <img class="me" src="/img/me.jpg" />
        <h2>{{ .Site.Title }} <i id="extra-menu" class="fas fa-bars"></i></h2>
        <section class="links">
            <a href="http://twitter.com/IsolaVinicius"><img src="/img/twitter.png" /></a>
            <a href="http://stackoverflow.com/users/2731402/visola"><img src="/img/stackoverflow.png" /></a>
            <a href="https://github.com/visola/"><img src="/img/github.png" /></a>
            <a href="/index.xml"><img src="/img/rss.png" /></a>
        </section>
    </div>
    <ul id="menu">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main.ByWeight }}
            <li>
                {{ if and (eq .Name "Blog") $currentPage.IsHome }}
                    Blog
                {{ else }}
                    {{ if or ($currentPage.HasMenuCurrent "main" .) ($currentPage.IsMenuCurrent "main" .) }}
                        {{ .Name }}
                    {{ else }}
                        <a href="{{ .URL }}">{{ .Name }}</a>
                    {{ end }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
    <div id="content">
        {{ block "main" . }}{{ end }}
    </div>
</body>
</html>
