<html>
<head>
    <link href="/index.xml" rel="alternate" type="application/rss+xml" title="Vinny's Blog">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,700|Droid+Sans+Mono" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="/css/main.css" />
    <title>{{ block "title" . }}{{ .Site.Title }}{{ end }}</title>
</head>
<body>
    <div id="header">
        <a href="/"><img class="me" src="/img/me.jpg" /></a>
        <h2><a href="/">Vinnie's Blog</a></h2>
        <section class="links">
            <a href="http://twitter.com/IsolaVinicius"><img src="/img/twitter.png" /></a>
            <a href="http://stackoverflow.com/users/2731402/visola"><img src="/img/stackoverflow.png" /></a>
            <a href="https://github.com/visola/"><img src="/img/github.png" /></a>
            <a href="/index.xml"><img src="/img/rss.png" /></a>
        </section>
    </div>
    <div id="content">
        {{ block "main" . }}
        {{ end }}
    </div>
</body>
</html>
